name: Pipeline

on:
   workflow_dispatch:

jobs:
  process:
        runs-on: ubuntu-latest
  steps:
  - name: checkout code
  - uses: actions/checkout@v5
  - name: Set up JDK 11 for x64
    uses: actions/setup-java@v4
    with:
      java-version: '11'
      distribution: 'temurin'
      architecture: x64

  - uses: actions/checkout@v5
  - uses: actions/setup-java@v4
    with:
      java-version: '17'
      distribution: 'temurin'
  - name: Run the Maven build
    run: mvn clean file.java
  - name: Make directory 
    run: mkdir jarfile && cp target/*.jar jarfile

  - uses: actions/upload-artifact@v4
    with:
      name: Package
      path: jarfile/

